/* OFFICIAL SUBITO FONT */
@font-face {
    font-family: "LFT Etica";
    src: url("./assets/LFTEtica/LFTEtica.eot");
    src: url("./assets/LFTEtica/LFTEtica.eot?#iefix") format("embedded-opentype"),
    url("./assets/LFTEtica/LFTEtica.woff2") format("woff2"),
    url("./assets/LFTEtica/LFTEtica.woff") format("woff"),
    url("./assets/LFTEtica/LFTEtica.ttf") format("truetype");
}

/* COLOR VAR & GENERAL SETTINGS */
:root {
    --sbt-accent-blue: #2650ff;
    --sbt-accent-green: #07bb9c;
    --sbt-accent-yellow: #f2a700;
    --sbt-accent-purple: #9924ff;
    --sbt-primary-color-d1: #cb3035;
    --sbt-primary-color: #f9423a;
    --sbt-primary-color-l1: #fa7b75;
    --sbt-sGrey: #3c4858;
    --sbt-sLightGrey: #717e8f;
    --sbt-sLightestGrey: #aeb9c6;
    --sbt-sWhiteSmoke: #f7f8fb;
}

  * {
    box-sizing: border-box;
    font-family: "LFT Etica", sans-serif;
    margin: 0;
    padding: 0;
}


/* LISTS STYLE DECORATIONS */
ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}


/* GENERAL SETTINGS for SECTIONS */
section {
    margin-top: 36px;
}

h2 {
    color: #7a7c7f;
    font-size: 20px;
}

p {
    color: inherit;
    margin-top: 0.5em;
}

/* GENERAL SETTINGS for CONTAINER */
.container {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 1em;
    width: 100%;
}


  /******************************************** FULL DESKTOP WIDTH SETTINGS ********************************************/
  /* LINKS SETTINGS */
.navbar {
    color: #717e8f;
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
}

.navbar-links {
    padding: 8px 0;
}

/* HEADER SETTINGS */
.header {
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
}

.full-width-logo {
    height: 36px;
}

.header__item {
    color: #7a7c7f;
    margin: 0 16px;
}

.header--text-grey {
    color: #7a7c7f;
    fill: #7a7c7f;
}

.header-gray-icon {
    color: #aeb9c6;
    fill: #aeb9c6;
}

  /* RED BTN SETTINGS */
.btn {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.btn__img {
    vertical-align: middle;
    margin-right: 4px;
}

.button-text {
    font-size: 16px;
    vertical-align: middle;
}

.btn--red {
    background-color: #feeceb;
    color: #f9423a;
    fill: #f9423a;
}

/* FORM SEARCHBAR */
.search-item-form {
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
    color: #a6a6a6;
    display: flex;
    margin: 0 8px;
    padding: 1.5em;
}

.search-item-form p {
    font-size: 14px;
}

.first-form {
    flex-grow: 1;
    margin: 0 0.3em;
}

.search-form-text {
    margin-bottom: 0.5em;
}

.search-item-form div:last-child {
    align-items: flex-end;
    display: flex;
}

.input {
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    display: flex;
    padding: 0.7em;
}

.input:hover {
    border-color: #a6a6a6;
}

.input--red-btn {
    background-color: #f9423a;
    border: none;
    border: 1px solid transparent;
    padding-left: 1.25em;
    padding-right: 1.25em;
    position: relative;
}

.input--red-btn::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.input__icon {
    fill: #aeb9c6;
}

.input__text {
    border: none;
    color: #a6a6a6;
    font-size: 16px;
    margin-left: 10px;
    width: 100%;
}

.input__text::placeholder {
    color: #a6a6a6;
    font-size: 16px;
}

/* EXPLORE SECTION */
.box-title {
    color: #a6a6a6;
    margin: 48px 0;
    text-align: center;
}

.rows {
    display: flex;
    justify-content: space-evenly;
}

.box {
    border-radius: 10px;
    padding: 24px;
    padding-top: 40px;
    padding-bottom: 24px;
}

.box-logo {
    display: block;
    margin: 0 auto;
}

.box-btn {
    background-color: transparent;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    color: white;
    height: 32px;
    margin-top: 32px;
    position: relative;
    width: 180px;
}

.blue {
    background-color: #2650ff;
}

.yellow {
    background-color: #f2a700;
}

.purple {
    background-color: #9924ff;
}

.green {
    background-color: #07bb9c;
}

/* PROVA TUTTO SUBITO SECTION */
.tutto-subito{
    display: flex;
}

.tutto-subito-text{
    align-self: center;
}

.tutto-subito-text p{
    color: #7a7c7f;
    line-height: 24px;
}

.paga-subito-container{
    align-items: flex-end;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 216px;
    width: 80%;
}

.box-1{
    background-image: url("./img/pay.webp");
}

.box-2{
    background-image: url("./img/sell.webp");
}

.subito-button{
    background-color: #f9423a;
    color: white;
    margin: 0 auto;
    margin-bottom: 16px;
    width: 90%;
}

.paga-subito {
    display: flex;
    margin-top: 60px;
}

.paga-subito > * {
    flex-basis: calc(100% / 3);
}

.paga-subito-text{
    align-self: center;
    color: #4c4151;
}

.paga-subito-text a{
    color: #f9423a;
}

.paga-subito-text p{
    padding: 16px 0;
    color: #848589;
}

.paga-subito-container:first-of-type {
    margin-right: 16px;
}

.btn{
    margin: 10px auto;
}

/* INSERISCI ANNUNCIO SECTION */
.inserisci-annuncio {
    align-items: center;
    background: url("./img/001_DESKTOP_inserisciannuncio.jpg") left center
    no-repeat;
    background-size: contain;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    min-height: 150px;
}

.inserisci-annuncio-text{
    color: #7a7c7f;
    flex-basis: 40%;
    margin-left: 235px;
}

.inserisci-annuncio-text p {
    color: #a6a6a6;
}

/* GREEN SECTION */
.green-section {
    display: flex;
    height: 300px;
}

.green-image {
    background: url("./img/HP_BOX_earth_day_20220426.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 5px;
    flex-basis: 60%;
}

.green-section-side-text {
    color: #7a7c7f;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}

.green-section-side-text h4 {
    text-transform: uppercase;
    color: #f9423a;
    padding-bottom: 10px;
}

.green-section-side-text p {
    color: #8d8f92;
}

/* SAFE SECTION */
.safety {
    margin-top: 100px;
    padding: 32px 20px;
    width: 100%;
}

.s-section {
    display: flex;
    margin-top: 32px;
    justify-content: center;
}

.safety__box {
    align-items: flex-end;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-basis: calc(100% / 3);
    height: 250px;
    margin: 0 12px;
    padding: 16px;
    padding-top: 0;
}

.safety__box:first-of-type {
    margin-left: 0;
}

.safety__box:last-of-type {
    margin-right: 0;
}

.box--safety1 {
    background-image: url(./img/safety1.webp);
}
.box--safety2 {
    background-image: url(./img/safety2.webp);
}
.box--safety3 {
    background-image: url(./img/safety3.webp);
}

  /* DOWNLOAD SECTION */
.download-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    padding: 32px 0;
    width: 95%;
}

.app-download-section {
    color: #7a7c7f;
    font-size: 19px;
}

.download-section p {
    color: #a6a6a6;
}

/************************** LAST SECTION **************************/
/* GENERAL TEXT SETTINGS */
.last-section {
    border-top: 1px solid #dfe3ed;
    margin: 0 auto;
    text-align: left;
}

.colored-title {
    font-size: 15px;
    font-weight: 700;
    margin: 24px auto;
    text-transform: uppercase;
}

.text-box {
    color: #717e8f;
    font-size: 12.5px;
    line-height: 20px;
}

.text-box p {
    font-weight: bold;
    font-size: 14px;
    margin: 16px 0;
}

/* FIRST TEXT SECTION */
.first-text-section h2 {
    color: #4c4151;
    font-size: 22px;
    padding-top: 24px;
}

.blue-text {
    color: #2650ff;
}

/* SECOND TEXT SECTION */
.yellow-text {
    color: #f2a700;
}

/* THIRD TEXT SECTION */
.purple-text {
    color: #9924ff;
}

/* FOURTH TEXT SECTION */
.green-text {
    color: #07bb9c;
}
.fourth-text-section {
    border-bottom: 1px solid #dfe3ed;
    padding: 30px 0;
}

/************************** LAST LINKS SECTION**************************/
.app-widget {
    padding-top: 24px;
}

.links-section {
    display: flex;
    justify-content: space-between;
}
.links {
    color: #717e8f;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

h5 {
    color: #7a7c7f;
    font-weight: 800;
}

.links a {
    margin: 10px 0;
}

/* COPYRIGHT SECTION */
.copyright-section {
    color: #7a7c7f;
    text-align: center;
}

.copyright-section img {
    height: 32px;
    margin-bottom: 32px;
    width: 136px;
}

.bottom-border {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}


/* MAIN SETTINGS RESETS */
.header__mobile,
#logo-mobile,
h2.search-form-text,
span.input__icon{
    display: none;
}


/******************************************** MEDIA QUERY with max-widht 980px********************************************/
@media all and (max-width: 980px) {
    main {
        border-bottom: 1px solid lightgrey;
    }
      /* RESPONSIVE SITE GENERAL SETTINGS */
    .container {
        padding: 0;
    }

    /* RESPONSIVE NAVBAR WITH ICONS*/
    .navbar {
        display: none;
    }

    /* HEADER */
    .header {
        display: none;
    }

    .header__mobile {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 1em;
        width: 100%;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 9px;
        font-weight: 700;
        line-height: 16px;
        z-index: 99;
    }

    #logo-mobile {
        display: flex;
        justify-content: center;
        height: 32px;
        flex-basis: 100%;
        margin-top: 3.5em;
    }

    /*problema spazio tra logo e form RISOLTO*/
    .full-width-logo a,
    .full-width-logo img {
        height: 100%;
        padding-left:30px;
    }

    .header__mobile p {
        margin-top: 0;
    }

    .header__item {
        margin: 0;
        flex-basis: 20%;
        height: 100%;
        text-align: center;
    }

    .header__item:hover {
        text-decoration: none;
    }

    /* RESPONSIVE FORMs */
    .search-item-form {
        padding: 0;
        box-shadow: none;
    }

    /* RESPONSIVE COLORED BOXES SETTINGS */
    .explore__title {
        font-size: 16px;
    }

    /* INSERISCI ANNUNCIO RESPONSIVE SETTINGS  */
    .inserisci-annuncio {
        margin-left: 16px;
        margin-right: 16px;
    }

    /* DOWNLOAD BUTTONS SETTINGS */
    .download-section {
        margin-bottom: 0;
        border-bottom: 1px solid lightgrey;
    }

    /* LAST SECTION SETTINGS */
    .discover {
        width: 100%;
        margin-top: 2em;
        border: 0;
    }
}

/******************************************** MEDIA QUERY with max-widht 767px********************************************/
@media all and (max-width: 767px) {
    /* FORM SETTINGS */
    .search-item-form {
        flex-direction: column;
    }

    .first-form {
        margin-bottom: 1em;
    }

    p.search-form-text {
        display: none;
    }

    h2.search-form-text {
        display: flex;
        justify-content: center;
        font-size: 18px;
        line-height: 25px;
    }

    .first-form:not(:first-child) > p {
        display: none;
    }

    .input--red-btn {
        width: 100%;
    }

    .col svg.input__icon {
        display: none;
    }

    span.input__icon {
        color: white;
        display: inline-block;
        margin: 0 auto;
    }

    /* RESPONSIVE COLORED BOXES */
    .mobile-box {
        display: block;
    }

    .box {
        height: 85px;
        padding: 0;
        display: flex;
        align-items: center;
    }
    
    .box-btn{
        display: none;
    }

    .box-logo:not(.mobile-box) {
        display: none;
    }

    .card__btn {
        display: none;
    }

    /* TUTTO SUBITO PHONE RESPONSIVE */
    .paga-subito{
        min-height: 200px;
    }

    .paga-subito-text h2{
        font-size: 16px;
    }

    .paga-subito-text p{
        font-size: 10px;
    }

    .paga-subito-container{
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        border-radius: 0;
        flex-basis: 144px;
        height: 159px;
        position: relative;
    }

    .subito-button{
        bottom: -50px;
        display: block;
        height: 32px;
        margin: 0;
        position: absolute;
        width: 100%;
    }

    .inserisci-annuncio{
        align-items: flex-end;
        background-image: url("./img/001_MOBILE_inserisciannuncio_small.svg");
        background-position-x: right;
        flex-direction: column;
        margin-top: 90px;
        padding-top: 24px;
    }

    /* HIDE BTN WHEN < 767px */
    .btn__img{
        display: none;
    }

    .inserisci-annuncio-text{
        margin-left: 0;
    }

    .red-button{
        font-size: 14px;
        margin: 32px 0;
    }

    /* INSERISCI ANNUNCIO PHONE RESPONSIVE */
    .inserisci-annuncio {
        align-items: flex-start;
        background-image: url("./img/001_MOBILE_inserisciannuncio_small.svg");
        background-position-x: right;
        flex-direction: column;
        padding-top: 32px;
    }

    .btn__img {
        display: none;
    }

    .inserisci-annuncio-text {
        margin-left: 0;
    }

    .btn--red {
        font-size: 14px;
        margin: 32px 0;
    }

    /* GREEN SECTION PHONE FRIENDLY */
    .green-section {
        flex-wrap: wrap;
        height: auto;
    }

    .green-image {
        flex-basis: 100%;
        padding-top: 56%;
    }

    .green-section-side-text {
        margin-top: 16px;
        flex-basis: 100%;
    }

    .green-section-side-text h4 {
        margin-bottom: 1em;
    }

    /* SAFE SECTION */
    .s-section {
        display: block;
        overflow: scroll hidden;
        white-space: nowrap;
    }

    .safety__box {
        display: inline-block;
        position: relative;
        width: 40%;
    }

    .safety__text {
        position: absolute;
        bottom: 0;
    }

    /* DOWNLOAD SECTION */
    .app-widget {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 24px;
    }

    .app-widget > a:last-child {
        margin-top: 1em;
    }
}