*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 980px;
    margin: 0 auto;
}

li{
    display:inline;
    padding: 8px;
}

a,
.prova-tutto-section p{
    text-decoration: none;
    color: rgb(122, 120, 120);
    list-style-type: none;
}

a:hover{
    text-decoration: underline;
}

/* LINKS SETTINGS */
.nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav ul li a span{
    color: lightgray;
    padding: 4px;
}

/* LOGO & ACTION CONTAINER */
.index-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dfe3ed;
    border-top: 1px solid #dfe3ed;
    height: 80px;
    padding: 0 20px;
    align-items: center;
}

/* SUBITO LOGO */
.index-container div:first-of-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.index-container a img{
    border: 0;
    width: 230px;
}

.actions{
    padding-left: 30px;
}

#accedi{
    font-weight: bold;
    color: rgb(61, 58, 58);
    padding-right: 16px;
}

/* BUTTON ICON */
.btn {
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
}

.btn:hover {
    border: 1px solid red;
}

.btn__img {
    vertical-align: middle;
    margin-right: 4px;
}

.text-button {
    vertical-align: middle;
    font-size: 16px;
    font-weight: 700;
}

.red-button {
    background-color: #feeceb;
    color: red;
    fill: red;
}


/******************************** FORM SEARCHBAR */
.search-form {
    display: flex;
    padding: 24px;
    color: grey;
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
    margin: 0 7px;
}

.search-form  div:not(:last-child) {
    flex-grow: 1;
    margin: 0 0.3em;
}

.search-textcaption {
    margin-bottom: 0.5em;
}

.input {
    padding: 0.7em;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
}

.input__text {
    font-size: 16px;
    color: gray;
    border: none;
    margin-left: 10px;
    width: 100%;
}

.input__text::placeholder {
    font-size: 16px;
    color: gray;
}

.material-symbols-outlined {
    position: relative;
    background-color: red;
    border: none;
}

.material-symbols-outlined::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
}

.material-symbols-outlined:hover {
    border-color: grey;
}

.material-symbols-outlined {
    fill: #aeb9c6;
}

/* EXPLORE SECTION */
.box-title {
    margin: 48px 0;
    text-align: center;
    color: gray;
}

.rows {
    display: flex;
    justify-content: space-evenly;
}

.box {
    border-radius: 10px;
    padding: 1.5em;
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}

.box-logo {
    display: block;
    margin: 0 auto;
}

.box-btn {
    position: relative;
    margin-top: 32px;
    width: 180px;
    height: 32px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.box-btn:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.blue{
    background-color: #2650ff;
}

.yellow{
    background-color: #f2a700;
}

.purple{
    background-color: #9924ff;
}

.green{
    background-color: #07bb9c;
}

.prova-tutto-section h2,
.prova-tutto-section a{
    padding: 16px 0;
}

.prova-tutto-section a{
    color: red;
    font-weight: 600;
}

.sub-section{
    display: flex;
}

/* RED BUTTONS ON IMAGES */
.pay-button{
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9423a;
    color: #fff;
    margin-top: 16px;
    padding: 8px;
    border-radius: 4px;
}

/* IMAGES RESIZE */
.first-img img,
.second-img img{
    width: 300px;
    height: 200px;
    display: flex;
    padding-right: 20px;
}

/* INSERISCI ANNUNCIO SECTION */
.inserisci-annuncio{
    background-image: url("./img/001_DESKTOP_inserisciannuncio.jpg");
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 56px 0;
    height: 150px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.inserisci-btn{
    font-size: 16px;
    line-height: 24px;
    padding: 11px 16px;
    display: flex;
}

.inserisci-annuncio h2{
    color: gray;
}
.inserisci-annuncio p{
    color: lightgray;
}

.inserisci-annuncio div{
    flex-basis: 40%;
    margin-left: 230px;
}

/* GREEN SECTION */
.green-section{
    
}




/* .green-image{
    border-radius: 4px;
    background-image: url("./img/HP_BOX_earth_day_20220426.jpg");
    padding-top: 56.25%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
} */

/* GREEN SECTION TEXT */
.green-section-side-text h4{
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 18px;
    color: #f9423a;
    text-transform: uppercase;
    font-weight: bold;
}

/* SAFE SECTION */
/* .gray-section{
    background-color: #f7f8fc;
    margin-top: 60px;
}
.gray-section h2{
    padding: 30px 16px;
    color: #444357;
    font-size: 20px;
}
.gray-section-images{
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 170px;
} */
/* 
.img-info{

} */

/* DOWNLOAD SECTION */
.download-section{
    padding: 24px 16px 32px;
    border-radius: 4px;
    background-color: #f7f8fb;
    text-align: center;
}
.download-section p{
    line-height: 24px;
    margin-top: 4px;
    font-size: 16px;
    color: #717e8f;
}

.app-widget{
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

#google-play{
    padding-right: 20px;
}

/************************** LAST SECTION **************************/
/* GENERAL TEXT SETTINGS */
.last-section{
    border-top: 1px solid #dfe3ed;
    margin: 48px;
    text-align: left;
}
.colored-title{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 24px auto;
}
.text-box{
    color: #717e8f;
    font-size: 12.5px;
    line-height: 20px;
}
.text-box p{
    font-weight: bold;
    font-size: 14px;
    margin: 16px 0;
}

/* FIRST TEXT SECTION */
.first-text-section h2{
    padding-top: 24px;
    font-size: 22px;
    color: #4c4151;
}
.blue-text{
    color: #2650ff;
}

/* SECOND TEXT SECTION */
.yellow-text{
    color: #f2a700;
}

/* THIRD TEXT SECTION */
.purple-text{
    color: #9924ff;
}

/* FOURTH TEXT SECTION */
.green-text{
    color: #07bb9c;
}
.fourth-text-section{
    border-bottom: 1px solid #dfe3ed;
    padding: 30px 0;
}

/************************** LAST LINKS SECTION**************************/
.links-section{
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #717e8f;
}

h5{
    color: #7a7c7f;
    font-weight: 800;
}

.links a{
    margin: 10px 0;
}

/* COPYRIGHT SECTION */
.copyright-section{
    text-align: center;
    color: #7a7c7f;
}
.copyright-section img{
    width: 136px;
    height: 32px;
    margin-bottom: 32px;
}
